<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="OSCTargetAddress" value="127.0.0.1" />
    <add key="OSCTargetPort" value="9000" />
    <add key="OSCTargetParameter" value="/avatar/parameters/ToggleMusic" />
    <add key="OSCListenPort" value="9001" />
    <add key="OSCListenDefaultEnabled" value="false" />
    <add key="OSCListenSkipNextParameter" value="/avatar/parameters/MediaSkipNext" />
    <add key="OSCListenSkipPreviousParameter" value="/avatar/parameters/MediaSkipPrevious" />
    <add key="OSCListenPauseParameter" value="/avatar/parameters/MediaPause" />
    <add key="OSCListenStopParameter" value="/avatar/parameters/MediaStop" />
    <add key="OSCListenPlayParameter" value="/avatar/parameters/MediaPlay" />
    <add key="OSCListenTogglePlayPauseParameter" value="/avatar/parameters/MediaTogglePlayPause" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>