<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="OSCTargetAddress" value="127.0.0.1" />
    <add key="OSCTargetPort" value="9000" />
    <add key="OSCTargetParameter" value="/avatar/parameters/ToggleMusic" />
    <add key="OSCListenPort" value="9001" />
    <add key="OSCListenDefaultEnabled" value="false" />
    <add key="OSCListenSkipNextParameter" value="/avatar/parameters/MediaSkipNext" />
    <add key="OSCListenSkipPreviousParameter" value="/avatar/parameters/MediaSkipPrevious" />
    <add key="OSCListenPauseParameter" value="/avatar/parameters/MediaPause" />
    <add key="OSCListenStopParameter" value="/avatar/parameters/MediaStop" />
    <add key="OSCListenPlayParameter" value="/avatar/parameters/MediaPlay" />
    <add key="OSCListenTogglePlayPauseParameter" value="/avatar/parameters/MediaTogglePlayPause" />
    
    <!-- Those two parameters are extra-feature allowing to control avatar 
         movement based on its own parameter values that you can change any way you want.
         Personally, I use it for leash pull~     
    -->
    <add key="OSCListenInputV" value="/avatar/parameters/MoveInputV" />
    <add key="OSCListenInputH" value="/avatar/parameters/MoveInputH" />
    <add key="OverlayDefaultEnabled" value="false" />
    <add key="OverlayAppKey" value="Caramel.VRCGestures" />
    <add key="OverlayAlpha" value="0.5" />
  </appSettings>
</configuration>